@font-face {
    font-family: Roboto; 
    src: url(fonts/roboto.woff2);
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: Roboto; 
    src: url(fonts/robotobold.woff2);
    font-weight: bold;
    font-style: normal;
} 

@font-face {
    font-family: Roboto; 
    src: url(fonts/robotomedium.woff2);
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.22;
    color: #ffffff;
    background-color: #849d8f;
    background-image: url(../img/icecream-background-1.png);
    background-position: top;
    background-repeat: no-repeat;
}

.inner-page {
    background-image: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.button {
    display: inline-block;
    padding: 13px 19px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 30px;
    text-decoration: none;
    font: inherit;
    font-weight: bold;
    color: #ffffff;
    border: none;
}

.button:hover {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

/* header */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.main-nav {
    position: relative;
    display: flex;
    padding: 0;
    flex-grow: 1;
    justify-content: space-between;
}

.navigation-list__link--catalog {
    background-color: #d07058;
    border-radius: 30px;
    text-decoration: none;
}

/* menu-popup */

.menu-popup {
    position: absolute;
    display: none;
    top: 40px;
    width: 143px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    z-index: 2;
}

.navigation-list__item:hover .menu-popup {
    display: block;
}

.navigation-list__link--catalog::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100px;
    height: 10px;
    background: transparent;
}

.menu-popup__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-popup__link {
    display: block;
    text-decoration: none;
    color: #323232;
    font-size: 14px;
    padding: 7px 21px;
}

.menu-popup__link:hover {
    background-color: #fbded7;
}

.menu-popup__link:active {
    background-color: #f6b5a5;
}

.menu-popup__link--bold {
    font-weight: bold;
    padding: 13px 21px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.2)
}

.navigation-list {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
}

.navigation-list__link {
    display: block;
    padding: 8px 17px 8px 17px;    
    width: auto;
    font-weight: bold;
}

.navigation-list__link:hover {
    background-color: #f7f6f3;
    border-radius: 30px;
    color: #323232;
    text-decoration: none;
}

.navigation-list__link:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
}

.user-list {
    list-style: none;
    display: flex;
}

.user-list__item {
    display: flex;
}

.user-list__link {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 17px 8px 45px;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 500;
}

.user-list__link::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100px;
    height: 10px;
    background: transparent;
}

.user-list__link:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.user-list__link--search {
    padding: 0;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.user-list__link--search::before {
    content: "";
    position: absolute;
    padding: 0;
    top: 8px;
    left: 8px;
    width: 22px;
    height: 20px;
    background-image: url(../img/search.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.user-list__link--search:hover::before {
    background-image: url(../img/search-hover.svg);
}

/* search-popup */

.search-popup {
    position: absolute;
    top: 55px;
    right: 221px;
    display: none;
    width: 311px;
    border-radius: 10px;
    padding: 15px;
    background-color: #f8f7f4;
}

.user-list__item:hover .search-popup {
    display: block;
}

.search-popup__item {
    display: block;
    width: 309px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    font: inherit;
    padding-left: 15px;
}

.user-list__link--cart::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    width: 22px;
    height: 20px;
    background-image: url(../img/cart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.user-list__link--not-empty::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    width: 22px;
    height: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/cart-not-empty.svg);
}

.user-list__link--cart:hover::before {
    background-image: url(../img/cart-hover.svg);
}

/* cart-popup */

.cart-popup {
    position: absolute;
    top: 55px;
    right: 74px;
    display: none;
    width: 540px;
    min-height: 216px;
    border-radius: 10px;
    padding: 13px;
    background-color: #f8f7f4;
}

.user-list__item:hover .cart-popup {
    display: block
}

.cart-popup__products {
    color: #323232;
    font-size: 13px;
    padding-left: 10px;
    border-bottom: 1px solid #999999;
}

.cart-popup__products td {
    padding: 10px;
}

.products-table__name {
    width: 220px;
}

.cart-popup__total {
    color: #323232;
    font-size: 15px;
    font-weight: bold;
    text-align: end;
    padding-right: 5px;
}

.cart-popup__btn {
    float: right;
}

.user-list__link--login::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    width: 22px;
    height: 20px;
    background-image: url(../img/login.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.user-list__link--login:hover::before {
    background-image: url(../img/login-hover.svg);
}

/* login-popup */

.login-popup {
    position: absolute;
    top: 55px;
    display: none;
    width: 239px;
    min-height: 214px;
    border-radius: 10px;
    padding: 19px;
    background-color: #f8f7f4;
}

.user-list__item:hover .login-popup {
    display: block;
}

.login-popup__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login-popup__item {
    display: block;
    width: 223px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    margin-bottom: 25px;
    font: inherit;
    padding-left: 15px;
}

.login-popup__item:hover, .feedback-popup__item:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
    padding-left: 14px;
}

.login-popup__item:focus, .feedback-popup__item:focus {
    border: solid 2px rgba(46, 136, 228, 0.52);
    padding-left: 14px;
}

.login-popup__column {
    width: 120px;
}

.login-popup__link {
    color: #323232;
    font-size: 13px;
}

.login-popup__link:hover,  .login-popup__link:active{
    color: #e84d37;
}

.login-popup__btn {
    padding: 13px 25px;
}

.user-list__link {
    text-decoration: none;
}

.header__timetable {
    display: block;
    width: 100%;
    text-align: end;
}

.timetable__schedule {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.timetable__tel {
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

/* promo */

.promo {
    position: relative;
    margin-top: 220px;
    text-align: center;
    box-sizing: border-box;
}

.promo__title {
    display: block;
    font-size: 60px;
    padding: 0 220px;
    text-align: center;
    font-weight: bold;
}

.promo__label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
}

.promo__radio-indicator:hover {
    background-color: rgba(248, 247, 244, 0.2);
}

.promo__label input[type="radio"] + .promo__radio-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    border: 2px solid #f8f7f4;
    border-radius: 50%;
}

.promo__label input[type="radio"]:checked + .promo__radio-indicator {
    background-color: #f8f7f4;
}

.promo__item {
    position: absolute;
    left: 16px;
    bottom: 20px;
    border: none;
}

.promo__radio {
    background-color: transparent;
    border: 1px solid #f8f7f4;
}

.promo__btn {
    font-size: 32px;
    text-decoration: none;
}

/* benefit */

.benefit {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.benefit__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    width: 520px;
    height: auto;
    border-radius: 15px;
}

.benefit__title {
    padding: 0;
    font-size: 35px;
    margin-bottom: 20px;
}

.benefit__description {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.benefit__btn {
    align-self: flex-end;
    text-shadow: none;
    box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.benefit__btn:hover {
    text-shadow: none;
    box-shadow: 0px 1px 2px 0 #ac1000;}

.benefit__item--raspberries {
    background-image: url(../img/raspberry-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.benefit__item--chocolate {
    background-image: url(../img/chocolate-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* popular */

.popular, .catalog {
    margin-top: 40px;
    box-sizing: border-box;
}

.popular__list, .catalog__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular__item, .catalog__item {
    position: relative;
    width: 267px;
    min-height: 394px;
    text-align: center;
    padding: 5px 9px 20px 9px;
    border-radius: 5px;
}

.popular__item:hover, .catalog__item:hover {
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.popular__item:hover > .icecream__btn, .catalog__item:hover > .icecream__btn {
    display: inline-block;
}

.icecream__image {
    border-radius: 50%;
}

.icecream__cost {
    position: absolute;
    left: 0;
    bottom: 140px;
    padding-left: 13px;
    font-weight: bold;
}

.cost__price{
    font-size: 45px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.cost__units {
    font-size: 30px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.icecream__description {
    display: block;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 15px;
    font-weight: 500;
}

.icecream__description:hover {
    color: #ffbc9e;
}

.icecream__btn {
    display: none;
}

/* advantages */

.advantages {
    width:1146px;
    background-image: url(../img/waffle-pattern.jpg);
    background-repeat: repeat;
    color: #323232;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 20px;
}

.advantages__title {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.advantages__list {
    width: 560px;
    padding-left: 57px;
    padding-right: 15px;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.advantages__columns {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.advantages__item {
    position: relative;
    margin-top: 25px;
}

.advantages__item::before {
    content: "";
    position: absolute;
    padding: 0;
    top: -10px;
    left: -60px;
    width: 52px;
    height: 52px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.advantages__item--icecream::before {
    background-image: url(../img/icecream-small.svg)
}

.advantages__item--quality::before {
    background-image: url(../img/leaf.svg)
}

.advantages__item--ingredients::before {
    background-image: url(../img/cow.svg)
}

.advantages__item--delivery::before {
    background-image: url(../img/thermometer.svg)
}

/* news-blog-and-subscribe */

.news-blog-and-subscribe {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 40px;
}

.news-blog {
    background-image: url(../img/strawberry-background.jpg);
    color: #323232;
    width: 520px;
    padding: 20px;
    min-height: 180px;
    border-radius: 15px;
}

.news-blog__description {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
}

.news-blog__item {
    display: block;
    width: 300px;
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.subscribe {
    background-color: #f8f7f4;
    width: 520px;
    min-height: 180px;
    color: #323232;
    border-radius: 15px;
    margin: 0;
    padding: 20px
}

.subscribe__description {
    margin: 0;
    margin-bottom: 20px;
    color: #5a5a5a;
}

.subscribe__email {
    width: 368px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    margin-right: 11px;
    font: inherit;
    padding-left: 15px;
}

/* map */

.map-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
}

.map__address {
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #323232;
    width: 252px;
    padding: 30px 25px;
}

.address__description {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.address__description-bold {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}

.address__description-bold--one {
    margin-bottom: 20px;
}

.address__btn  {
    font-size: 18px;
    margin-top: 20px;
    padding: 13px 30px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.footer__social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social__item {
    width: 38px;
    height: 38px;
    margin-right: 11px;
}

.social__link {
    display: block;
    width: 38px;
    height: 38px;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social__link:hover, .social__link:active {
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.social__link--twitter {
    background-image: url(../img/twitter.svg);
}

.social__link--instagram {
    background-image: url(../img/instagram.svg);
}

.social__link--facebook {
    background-image: url(../img/facebook.svg);
}

.social__link--vkontakte {
    background-image: url(../img/vk.svg);
}

.footer__additional-info-list {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    padding-right: 5px;
}

.additional-info-list__columns {
    display: flex;
    padding: 0;
}

.additional-info-list__link {
    position: relative;
    font-size: 13px;
}

.additional-info-list__link:hover, .additional-info-list__link:active {
    color: #ffbc9e;
}

.additional-info-list__link--liked {
    font-weight: bold;
}

.additional-info-list__link--liked::before {
    content: "";
    position: absolute;
    padding: 0;
    top: 2px;
    left: -20px;
    width: 25px;
    height: 25px;
    background-image: url(../img/heart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.footer__copyright {
    font-size: 12px;
}

.copyright__text {
    margin:0;
}

.copyright__link:hover {
    color: #ffbc9e;
}

/* feedback-popup */

.feedback-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 428px;
    transform: translate(-50%, -50%);
    min-height: 443px;
    border-radius: 10px;
    padding: 25px;
    background-color: #f8f7f4;
    z-index: 2;
}

.feedback-popup__title {
    margin: 0;
    font-size: 24px;
    color: #323232;
}

.feedback-popup__item {
    display: block;
    width: 267px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    margin-top: 25px;
    font: inherit;
    padding-left: 15px;
}

.feedback-popup__comment:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
    padding-left: 14px;
    padding-top: 9px;
}

.feedback-popup__comment:active {
    border: solid 2px rgba(46, 136, 228, 0.52);
    padding-left: 14px;
    padding-top: 9px;
}

.feedback-popup__comment {
    display: block;
    width: 413px;
    height: 155px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    margin: 25px 0;
    font: inherit;
    padding-left: 15px;
    padding-top: 10px;
}

.feedback-popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 19px;
    font-size: 0;
    background-color: #f8f7f4;
    cursor: pointer;
    border: 0;
}

.feedback-popup__close::before, .feedback-popup__close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -2px;
    width: 22px;
    height: 3px;
    background-color: #323232;
}

.feedback-popup__close::before {
    transform: rotate(45deg);
}

.feedback-popup__close::after {
    transform: rotate(-45deg);
}

.feedback-popup__btn {
    float: right;
}

.feedback-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* catalog */
/* breadcrumbs */

.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -20px;
}

.breadcrumbs__link {
    position: relative;
    padding-right: 20px;
    font-size: 14px;
}

.breadcrumbs__link[href]::after {
    content: "»";
    position: absolute;
    top: 0;
    right: 5px;
}

.main__title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 13px;
}

/* filter */

.filter {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
}

.filter__item {
    position: relative;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 30px;
    margin-top: 37px;
    margin-right: 15px;
    border: none;
    padding: 10px 15px;
}

.filter__item--fillers .filter__label{
    padding-left: 50px;
}

.filter__legend {
    position: absolute;
    top: -20px;
    left: 5px;
    font-size: 14px;
    font-weight: 500;
}

.filter__label {
    position: relative;
    cursor: pointer;
    padding-left: 40px;
}

.filter__label input[type="radio"] + .filter__radio-indicator {
    position: absolute;
    top: -3px;
    left: 10px;
    width: 17px;
    height: 17px;
    border: 4px solid #f8f7f4;
    border-radius: 50%;
}

.filter__label input[type="radio"]:checked + .filter__radio-indicator::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #f8f7f4;
}

.filter__label input[type="radio"]:disabled + .filter__radio-indicator {
    border-color: rgba(248, 247, 244, 0.4);
}

.filter__label input[type="radio"]:checked:disabled + .filter__radio-indicator::before {
    background-color: rgba(248, 247, 244, 0.4);
}

.filter__label input[type="checkbox"] + .filter__checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 10px;
    width: 26px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter__label input[type="checkbox"]:checked + .filter__checkbox-indicator {
    background-image: url(../img/checkbox-on.svg);
}

.filter__label input[type="checkbox"]:disabled + .filter__checkbox-indicator {
    opacity: 0.4;
}

.sorting__select {
    background: none;
    padding: 0;
    border: none;
    color: #f8f7f4;
    font-size: 16px;
    cursor: pointer;
}

.sorting__select:hover {
    color: #323232;
}

.sorting__value {
    color: #323232;
}

.range {
    padding-top: 19px;
}

.range__scale {
    position: relative;
    width: 188px;
    height: 4px;
    background-color: rgba(248,247,244,.5);
}

.range__bar {
    position: absolute;
    top: 19px;
    left: 20px;
    width: 112px;
    height: 4px;
    margin-left: 19px;
    background-color: #f8f7f4;
}

.range__toggle {
    position: absolute;
    top: 11px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 8px solid #f8f7f4;
    border-radius: 50%;
    background-color: #d4d4d4;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    cursor: pointer;
}

.range__toggle--min {
    left: 35px;
}

.range__toggle--max {
    left: 137px;
}

.filter__button {
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 30px;
    margin-top: 20px;
    border: 2px solid #f8f7f4;
    color: #f8f7f4;
    padding: 0 30px;
    font-size: 16px;
    cursor: pointer;
}

.filter__button:hover {
    background-color: #f8f7f4;
    border: none;
    color: #323232;
}

.filter__button:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
}

/* pagination */

.pagination {
    display: flex;
    min-height: 80px;
    justify-content: flex-end;
    border-bottom: 1px solid #f8f7f4;
}

.pagination__list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.pagination__item {
    margin: 0 2px;
}

.pagination__link {
    display: block;
    min-width: 9px;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination__link[href]:hover {
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50%;
}

.pagination__link:not([href]), .pagination__link[href]:active {
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 50%;
}

.pagination__button-back, .pagination__button-forward {
    background: none;
    padding: 0 10px;
    border: none;
    color: #f8f7f4;
    cursor: pointer;
}

.pagination__button-back--disabled {
    color: rgba(248, 247, 244, 0.2);
}

.search-popup__item, .login-popup__item, .feedback-popup__item, .feedback-popup__comment {
    font-size: 16px;
    font-weight: bold;
    color: #323232;
}

.search-popup__item::placeholder, .login-popup__item::placeholder, .feedback-popup__item::placeholder, .feedback-popup__comment::placeholder {
    font-size: 16px;
    font-weight: normal;
    color: #999999;
}